%header
  .container
    .content
      %h1 #{@army.name}
      %h3 #{@army.points} Point #{faction_name(@army)} Army
      %div.row-fluid
        %h4.span4
          %strong User:
          = @army.user.name
        %h4.span2
          %strong 
            = @army.private ? "Private" : "Public"
        %h4.span2
          = link_to 'Edit', edit_army_path(@army)

