%h1 Listing armies

%table
  %tr
    %th Name
    %th User
    %th Points
    %th Faction
    %th
    %th

  - @armies.each do |army|
    %tr
      %td= link_to army.name, army
      %td= link_to army.user.name, user_path(army.user)
      %td= army.points
      %td= army.faction.name
      - if current_user == army.user
        %td= link_to 'Edit', edit_army_path(army)
        %td= link_to 'Destroy', army, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Army list', new_army_path
