%h1 Listing armies

%table
  %tr
    %th Name
    %th User
    %th Points
    %th Faction
    %th
    %th

  - @armies.each do |army|
    %tr
      %td= link_to army_name(army), army
      %td= link_to army.user.name, user_path(army.user)
      %td= army.points
      %td= faction_name(army)
      - if current_user == army.user
        %td= link_to 'Edit', edit_army_path(army)
        %td= link_to 'Destroy', army, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - else
        %td
        %td

%br

= render "armies/new_army_button"
