- if current_user != nil && current_user.id == @army.user_id
  %td.button.min-max><
    -if level == 'unit'
      -if unit_type == 'unit' && army_unit.unit.max_point_cost
        = render "armies/list_buttons/min_max", army_unit: army_unit
  %td.button.remove><
    - if level == 'unit'
      = render('armies/list_buttons/remove_unit', army_unit: army_unit)
    - elsif level == 'attachment'
      = render('armies/list_buttons/remove_attachment', attachment: attachment)
  %td.button.add><
    - if level == 'header'
      = render "armies/list_buttons/available_units", unit_type: unit_type
    - elsif level == 'unit'
      - if unit_type == 'caster' || army_unit.unit.jack_marshall == true
        = render('armies/list_buttons/available_attachments', army_unit: army_unit)


