%li{ id: @army.id.to_s + '_available_' + @unit_type.pluralize, class: 'available-models' }
  %ul{ class: 'list-container'}
    - @available_units.each do |unit|
      %li{class: "available-" + unit[:id].to_s}
        %span.model-name= unit[:name]
        - if @unit_type == "caster"
          %span.button-group
            %a{href: "#", class: "add_to_list btn btn-mini btn-success", data: {'unit_id' => unit[:id],
                                           'controller' => 'army_units',
                                           'action' => 'create',
                                           'army_id' => @army.id}}
              %i{ class: 'icon-plus' }
          %span.point-cost= "+#{unit[:point_cost]}"
          %span.field-allowance= unit[:field_allowance]
        - elsif @unit_type == "unit" && unit.max_point_cost
          %span.button-group
            %a{href: "#", class: "add_to_list btn btn-mini btn-success", data: {'unit_id' => unit[:id],
                                         'controller' => 'army_units',
                                         'action' => 'create',
                                         'army_id' => @army.id}}
              %i{ class: 'icon-plus' }
          %span.point-cost= unit[:point_cost].to_s + " / " + unit[:max_point_cost].to_s
          %span.field-allowance= unit[:field_allowance]
        - else
          %span.button-group
            %a{href: "#", class: "add_to_list btn btn-mini btn-success", data: {'unit_id' => unit[:id],
                                         'controller' => 'army_units',
                                         'action' => 'create',
                                         'army_id' => @army.id}}
              %i{ class: 'icon-plus' }
          %span.point-cost= unit[:point_cost]
          %span.field-allowance= unit[:field_allowance]
