= simple_form_for(@unit) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.label :faction_id, "Faction"
    = f.collection_select :faction_id, Faction.all, :id, :name
    = f.label :unit_type_id, "Model Type"
    = f.collection_select :unit_type_id, UnitType.all, :id, :name
    = f.label :point_cost, "Point cost (or Jack / Beast points)"
    = f.number_field :point_cost, min: 0
    = f.label :field_allowance, "Field Allowance (number, 'c', or 'u')"
    = f.text_field :field_allowance
    = f.label :hit_points, "Hit points"
    = f.number_field :hit_points, min: 0
    = f.input :jack_marshall

  .form-actions
    = f.button :submit, class: 'btn btn-success'
