%h1 Listing units

%table
  %tr
    %th Name
    %th Faction
    %th Point cost
    %th Field allowance
    %th
    %th
    %th

  - @units.each do |unit|
    %tr
      %td= unit.name
      %td= unit.faction_id
      %td= unit.point_cost
      %td= unit.field_allowance
      %td= link_to 'Show', unit
      %td= link_to 'Edit', edit_unit_path(unit)
      %td= link_to 'Destroy', unit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Unit', new_unit_path
