%img{class: "half-gear", src: "/images/half-gear.svg", alt: "half gear"}
= link_to "BIG STEAM ROBOT", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li.dropdown
      %a{href: "#", class: "dropdown-toggle", data: {toggle: "dropdown"}}
        Models
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to 'Add to Database', new_unit_path
        %li
          = link_to 'All Models', units_path
    %li.dropdown
      %a{href: "#", class: "dropdown-toggle", data: {toggle: "dropdown"}}
        Armies
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to 'My Armies', armies_path(user: current_user)
        %li
          = link_to 'Newest Public Armies', armies_path
        %li
          = link_to 'Create New Army', new_army_path
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path
  - else
    %li
      = link_to 'Sign up', new_user_registration_path

